*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(253, 248, 237);
  display:grid;
  justify-content: center;
}

.second-header{
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 30px;

}

.score-time{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 90px;
}

.viewScore{
  display: none;
  font-size: 25px;
}

.head-button{
  height: 3rem;
  width: 18rem;
  font-size: 25px;
  font-weight: 400;
  transition: .3s ease-in-out;
  background:rgb(0, 109, 160);
  color: aliceblue;
}

.highScore{
  display: none;
}

.countDown{
  display: none;
}

.head-button:hover{
  background:rgb(80, 190, 241);
  color: rgb(0, 0, 0);
}

#start-btn{
  letter-spacing: 5px;
  height: 5rem;
}

#start-btn:hover{
  box-shadow: rgb(71, 71, 71) 0 0 10px 2px;
}

.startButton{
  display: none;
}

.reset-button{
  display: none;
}

#reset-btn{
  margin-top: 2rem;
  width: 17rem;
  height: 4rem;
}

.main-container{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 50vh;
  background: rgb(214, 214, 214);
  border-radius: 20px;
  box-shadow: 0 2px 10px 0;
  font-size: 50px;
}

.btn-grid{
  display: grid;
  gap: 10px;
}

.btn{
  padding: 10px;
  font-size: 25px;
  border-radius: 5px;
  max-width: 850px;
  width: 25rem;
  justify-self: center;
  letter-spacing: 1px;
  transition: .2s ease;
}

.btn:hover{
  box-shadow: 0 0 10px 2px;
}

#question{
  margin-bottom: 5rem;
  font-weight: bold;
  font-size: 35px;
  max-width: 850px;
  letter-spacing: 1px;
}

#finalScore{
  font-size: 30px;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: -3rem;
}

.correct{
  background: rgb(118, 202, 107);
}

.wrong{
  background: rgb(194, 29, 62);
  color: aliceblue;
}

.question-hide{
  display: none;
}